input, input:focus{
    border-width: 0px;
    outline:0; /* I have also tried outline:none */
    -webkit-appearance:none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}