<div>
    {% load static %}
    <span class="material-symbols-sharp text-2xl text-highlight place-items-center p-2 cursor-pointer"
          onclick="closeDialog()"
    >close</span>
    {% if pk %}
        {% url 'submit' pk as the_url %}
    {% else %}
        {% url 'submit' as the_url %}
    {% endif %}
    <form action="{{ the_url }}" method="post">
        {% csrf_token %}
        {{ form }}
        {% if form.errors or form.non_field_errors %}
            {% for field in form %}
                {{ field.errors }}
            {% endfor %}
            {{ form.non_field_errors }}
        {% endif %}
        <button class="bg-extra mt-4 p-2 rounded-2xl">Submit</button>
    </form>
</div>
<script>
    function closeDialog() {
        dialog.close();
    }
</script>
