<div class="p-3 grid grid-cols-3 gap-1">
    <!-- Card header -->
    <h3 class="text-secondary mb-4 col-span-3">
        <a href="#" class="font-bold">{{ advice.user }}</a> suggested this {{ advice.get_category_display }}</h3> <!-- TODO: has to be lowercase -->
    <div class="row-span bg-highlight">IMG 1</div>
    <!-- Music info -->
    <div>
        <div class="border-b border-extra">
            <h5 class="py-2">If you liked... </h5>
            {{ advice.base }}
        </div>
        <div>
            <h5 class="py-2">You'll like... </h5>
            {{ advice.advice }}
        </div>
    </div>
    <div class="row-span-2 bg-highlight">IMG 2</div>
    <!-- Card footer -->
    <div class="col-span-3">
        {% if advice.description and advice.description != '' %}
            <p 
                onloaded="checkLength()" 
                class="font-light italic text-right">"{{ advice.description }}"</p>
        {% endif %}
        {% if request.user == advice.user %}
            <a href="{% url "core:edit_music_advice" advice.id %}" class="text-xs">
                <span class="material-symbols-sharp">edit</span>
            </a>
            <a hx-delete="{% url "core:delete_music_advice" advice.id %}" class="text-xs cursor-pointer">
                <span class="material-symbols-sharp">delete</span>
            </a>
        {% endif %}
    </div>
</div>