<div class="mt-1 flex justify-between h-12">
    <div class="p-2 mr-2 font-semibold text-extra">
        <button id="theme-toggle" onClick="changeTheme()">Switch</button>
    </div>
    <div class="search-bar group bg-extra rounded-3xl">
        <div class="relative flex items-center overflow-hidden">
            <span class="material-symbols-sharp text-2xl text-main place-items-center p-2">search</span>
            <input 
                placeholder="Search..." 
                class="search-input h-full placeholder:text-main w-0 duration-700 text-main group-hover:w-96"
                style="background-color: transparent;">
        </div>
    </div>
    <div class="p-2 mr-2 font-semibold text-extra">
        {% if request.user.is_authenticated %}
            <a href="{% url "core:logout" %}">Sign Out</a>
        {% else %}
            <a href="{% url "core:login" %}">Sign In</a>
        {% endif %}
    </div>
</div>