<div class="mt-1 flex justify-between h-12">
    <!-- DUMMY THEME SWITCHER -->
    <div class="p-2 mr-2 font-semibold text-extra">
        <button id="theme-toggle" onClick="changeTheme()">Switch</button>
    </div>

    <!-- SEARCH BAR -->
    <div class="search-bar group bg-extra rounded-3xl">
        <div class="relative flex items-center overflow-hidden">
            <span class="material-symbols-sharp text-2xl text-main place-items-center p-2">search</span>
            <input id="searchbar"
                placeholder="Search..."
                class="search-input h-full placeholder:text-main w-0 duration-700 text-main group-hover:w-96"
                style="background-color: transparent;"
            >
            <span id="eraser" 
                  class="material-symbols-sharp text-2xl text-main place-items-center p-2 cursor-pointer" 
                  onClick="clearSearchBar()"
            >close</span>
        </div>
    </div>

    <!-- USER MENU -->
    <div class="flex p-2 mr-2 font-semibold text-extra">
        {% if request.user.is_authenticated %}
        <div class="relative">
            <div class="bg-highlight border-2 border-extra flex items-center justify-center w-10 h-10 mx-2 overflow-hidden rounded-full" 
                 onClick="showMenu()">
                <img src="{{ profile.picture.url }}" title="{{ profile.user.username }}" alt="Profile picture">
            </div>
            <div id="user-menu" class="mt-1 mr-2 right-1 top-full min-w-max shadow opacity-0 transition delay-75 ease-in-out z-10">
                <ul class="block text-right">
                    <li>
                        <a href="#" class="block pr-2 border-r-4 border-transparent hover:text-secondary">
                            <span class="material-symbols-sharp text-2xl place-items-center p-2">account_circle</span>
                            Profile
                        </a>
                    </li>
                    <li>
                        <a href="{% url "core:logout" %}" class="block pr-2 border-r-4 border-transparent hover:text-secondary">
                            <span class="material-symbols-sharp text-2xl place-items-center p-2">logout</span>
                            Sign Out
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        {% else %}
            <a href="{% url "core:login" %}">Sign In</a>
        {% endif %}
    </div>
</div>
<script>
    const icon = document.getElementById("eraser");
    const search = document.getElementById("searchbar");
    icon.style.display = "none";
    
    search.addEventListener("input", function () {
        if (search.value === "") {
            icon.style.display = "none";
        } else {
            icon.style.display = "inline-block";
        }
    })
    
    function showMenu() {
        const opacity = document.getElementById("user-menu").style.opacity;
        if (opacity == 1) {
            document.getElementById("user-menu").style.opacity = 0;
        } else {
            document.getElementById("user-menu").style.opacity = 1;
        }
    }
    
    function clearSearchBar() {
        search.value = "";
        icon.style.display = "none";
    }
</script>